* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgba(216, 253, 8, 0.849);
  color: black;
}

.column {
  float: left;
  padding: 10px;
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.row {
  background-color: black;
  padding-bottom: 342px;
}

.header {
  background-color: black;
}

.topnav {
  background-color: rgba(30, 189, 189, 0.699);
}